table tr.borderHighlight {
  border: 5px solid rgb(105, 13, 13);
  border-radius: 5px;
}

table tr.highlight {
  background-color: rgb(0, 54, 7) !important;
  color: #ffffff;
}

body, html {
  height: 100%;
}
