<div class="card border-success mb-3" style="background-color: azure">
  <div class="row">
    <div class="col-1" style="align-self: center">
      <b> DODAJ:</b>
    </div>
    <div class="col-3" style="align-self: center">
      <input class="form-control" [(ngModel)]="newEmployeeName" placeholder="Imię i Nazwisko" />
    </div>
    <div class="col-3" style="align-self: center">
      <b> Pozycja: </b><select [(ngModel)]="newEmployeePosition">
        <option *ngFor="let position of positions">
          {{ position }}
        </option>
      </select>
    </div>
    <div class="col-1" style="align-self: center">
      <b> Rok ur.: </b>
    </div>
    <div class="col-2" style="align-self: center">
      <input type="number" class="form-control" [(ngModel)]="newEmployeeYOB" placeholder="Rok urodzenia" />
    </div>
    <div class="col-2" style="align-self: center">
      <button [disabled]="cantUpdate() || isYearWrong()" class="btn btn-success" (click)="addEmployee()">
        Dodaj Pracownika
      </button>
    </div>
  </div>
</div>
<div class="alert alert-warning col-5" role="alert" *ngIf="isYearWrong()">
  <div>Wpisz rok z zakresu {{minYear}} - {{maxYear}}</div>
</div>
<div class="row">
  <div class="col-3">
    <input id="search-box" [(ngModel)]="params" class="form-control mr-sm-2" placeholder="Imię..." />
  </div>
</div>
<br>

<table class="table table-striped table-dark" *ngIf="employees && employees.length > 0">
  <thead>
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Zdjęcie</th>
      <th class="text-center">Imię i Nazwisko</th>
      <th class="text-center">Stanowisko</th>
      <th class="text-center">Wiek</th>
      <th class="text-center">Akcja</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let id = index" (mouseover)="highlightRow(employee)"
      [ngClass]="{'highlight' : employee.id == selectedName}">
      <td class="align-middle text-center">
        {{ id + 1 }}
      </td>
      <td class="align-middle text-center item.selected">
        <app-employees-photos (employeeSelected)="employeeWasSelected($event)" [employee]="employee"
          [imageUrl]='employee.avatar'>
        </app-employees-photos>
      </td>
      <td class="align-middle text-center">
        <a class="badge badge-success" routerLink="/employees/{{ employee.id }}">{{ employee.name }}</a>
      </td>
      <td class="align-middle text-center">
        <a class="badge">{{ employee.position }}</a>
      </td>
      <td class="align-middle text-center">
        <a class="badge">{{ getAge(employee) }}</a>
      </td>
      <td class="align-middle text-center">
          <button class="btn btn-outline-success btn-block btn-sm" routerLink="/employees/{{ employee.id }}">
              Edytuj
            </button>
            <br>
        <button class="btn btn-outline-danger btn-block btn-sm" (click)="deleteEmployee(employee)">
          Usuń
        </button>
      </td>
    </tr>
  </tbody>
</table>
