<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/ZooMLogo.png" alt="Logo" class="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employees">
          Pracownicy<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/employees">
          Zadania<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item active" style="align-self: center">
        <a class="nav-link waves-effect waves-light">
          1 <img src="/assets/images/envelope.png" class="iconSmall" alt="messages">
        </a>
      </li>
      <li class="nav-item avatar dropdown">
        <a class="nav-link">
          <img src="/assets/images/Niko.jpg" class="rounded-circle z-depth-0 avatarSmall" alt="avatar image">
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg" style="height: 1000px">
  <!-- <div>
  <b>{{ route }}</b>
</div> -->

  <br />
  <div style="margin:0px auto; text-align:center;" [hidden]="route !== '/'">
    <img src="/assets/images/ZooMLogo.png" alt="Logo" class="center"/>
    <h1 class="display-4">WARSZAWA</h1>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
