.logo {
  width: 80px;
  height: 80px;
}

.avatarSmall {
  width: 60px;
  height: 60px;
}

.iconSmall {
  width: 32x;
  height: 24px;
  filter: invert(100%);
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("http://bgfons.com/uploads/fur/fur_texture1721.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

