<div class="card border-success mb-3" style="height: 65px; background-color: azure">
  <div class="row" *ngIf="employee">
    <div class="col-1" style="align-self: center">
      <img class="img-fluid img-thumbnail photo" src="{{employeeAvatar}}" />
    </div>
    <div class="col-2" style="align-self: center">
      <h6>{{ employee.name }}<span class="badge badge-secondary"></span></h6>
    </div>
    <div class="col-3" style="align-self: center">
      <h6>{{ employeePosition }}<span class="badge badge-secondary"></span></h6>
    </div>
    <div class="col-4" style="align-self: center">
      <h6>{{ employeeId }}<span class="badge badge-secondary"></span></h6>
    </div>
    <div class="col-2" style="align-self: center">
      <button class="btn btn-danger btn-block" (click)="navigateToEmployeeList()">
        HOME PAGE
      </button>
    </div>
  </div>
</div>

<br />
<div class="card border-success mb-3" style="height: 40px; background-color: azure">
  <div class="row" *ngIf="employee">
    <div class="col-4" style="align-self: center">
      <b> Stanowisko: </b><select [(ngModel)]="selectedType">
        <option *ngFor="let position of positions">
          {{ position }}
        </option>
      </select>
    </div>
    <div class="col-6" style="align-self: center">
      <input class="form-control" [(ngModel)]="employeeImage" placeholder="Avatar URL" />
    </div>
    <div class="col-2" style="align-self: center">
      <button [disabled]="cantUpdate()" class="btn btn-success btn-block"
        (click)="updateEmployee()">Zaktualizuj</button>
    </div>
  </div>
</div>
<br>
<div class="alert alert-danger col-9" role="alert" *ngIf="cantUpdate()">
  <div><b>Stanowisko</b> lub <b>Avatar</b> jest konieczny aby zakutalizować pracownika <b>{{employee.name}}</b></div>
</div>
