@import '~bootstrap/dist/css/bootstrap.min.css';

.bg {
  /* The image used */
  background-image: url("http://bgfons.com/uploads/fur/fur_texture1721.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
